@import "../styles/globals.css";
.no-scrollbar {
  -ms-overflow-style: none;     /* IE/Edge */
  scrollbar-width: none;        /* Firefox */
}
.no-scrollbar::-webkit-scrollbar {
  display: none;                /* Chrome/Safari */
}

.scrollbar-none {
  -ms-overflow-style: none;  /* IE/Edge */
  scrollbar-width: none;     /* Firefox */
}
.scrollbar-none::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

.prose :where(h1, h2, h3) {
  @apply scroll-mt-24;
}
.prose :where(p, li) {
  @apply leading-7;
}